/* Ogilvy Sans */
@font-face {
    font-family: osans_b;
    src: url(fonts/OgilvySans-Bold.otf);
    font-display: fallback;
}

@font-face {
    font-family: osans_bi;
    src: url(fonts/OgilvySans-BoldItalic.otf);
    font-display: fallback;
}

@font-face {
    font-family: osans_l;
    src: url(fonts/OgilvySans-Light.otf);
    font-display: fallback;
}

@font-face {
    font-family: osans_li;
    src: url(fonts/OgilvySans-LightItalic.otf);
    font-display: fallback;
}

@font-face {
    font-family: osans_r;
    src: url(fonts/OgilvySans-Regular.otf);
    font-display: fallback;
}

@font-face {
    font-family: osans_ri;
    src: url(fonts/OgilvySans-RegularItalic.otf);
    font-display: fallback;
}

/* Ogilvy Serif */
@font-face {
    font-family: oserif_b;
    src: url(fonts/OgilvySerif-Bold.otf);
    font-display: fallback;
}

@font-face {
    font-family: oserif_bi;
    src: url(fonts/OgilvySerif-BoldItalic.otf);
    font-display: fallback;
}

@font-face {
    font-family: oserif_l;
    src: url(fonts/OgilvySerif-Light.otf);
    font-display: fallback;
}

@font-face {
    font-family: oserif_li;
    src: url(fonts/OgilvySerif-LightItalic.otf);
    font-display: fallback;
}

@font-face {
    font-family: oserif_r;
    src: url(fonts/OgilvySerif-Regular.otf);
    font-display: fallback;
}

@font-face {
    font-family: oserif_ri;
    src: url(fonts/OgilvySerif-RegularItalic.otf);
    font-display: fallback;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 100%;
}

a {
    text-decoration: none !important;
}

textarea {
    resize: none;
}

/*
   __                _      
  / _| ___  _ _   __| | ___ 
 |  _|/ _ \| ' \ / _` |/ _ \
 |_|  \___/|_||_|\__,_|\___/
*/
.bg-0 {
    background: #e84148 !important;
}

.bg-2 {
    background: #fff;
}

.bg-3 {
    background: #f4bbc6;
}

.bg-4 {
    background: #252d8d;
}

.bg-5 {
    background: #d6d878;
}

.bg-gradient-0 {
    background: #e84148;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e84148 0%, #fff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e84148 0%, #fff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(top, #e84148, #fff);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e84148', endColorstr='#fff', GradientType=0);
    /* IE6-9 */
}

.bg-gradient-2 {
    background: -moz-linear-gradient(top, #fff 0%, #f4bbc6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fff 0%, #f4bbc6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(#fff, #f4bbc6);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f4bbc6', GradientType=0);
    /* IE6-9 */
}

.bg-gradient-3 {
    background: -moz-linear-gradient(top, #f4bbc6 0%, #252d8d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f4bbc6 0%, #252d8d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(#f4bbc6, #252d8d);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4bbc6', endColorstr='#252d8d', GradientType=0);
    /* IE6-9 */
}

.bg-gradient-4 {
    background: -moz-linear-gradient(top, #252d8d 0%, #d6d878 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #252d8d 0%, #d6d878 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(top, #252d8d, #d6d878);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252d8d', endColorstr='#d6d878', GradientType=0);
    /* IE6-9 */
}

.shadow-0 {
    -webkit-box-shadow: 0px 0px 50px 25px #e84148;
    -moz-box-shadow: 0px 0px 50px 25px #e84148;
    box-shadow: 0px 0px 50px 25px #e84148;
}

.shadow-2 {
    -webkit-box-shadow: 0px 0px 50px 25px #fff;
    -moz-box-shadow: 0px 0px 50px 25px #fff;
    box-shadow: 0px 0px 50px 25px #fff;
}

.shadow-3 {
    -webkit-box-shadow: 0px 0px 50px 25px #f4bbc6;
    -moz-box-shadow: 0px 0px 50px 25px #f4bbc6;
    box-shadow: 0px 0px 50px 25px #f4bbc6;
}

.shadow-4 {
    -webkit-box-shadow: 0px 0px 50px 25px #252d8d;
    -moz-box-shadow: 0px 0px 50px 25px #252d8d;
    box-shadow: 0px 0px 50px 25px #252d8d;
}

/*
  ___      _                   _
 | __| ___| |_  __ _  _ _   __| | __ _  _ _  ___  ___
 | _| (_-<|  _|/ _` || ' \ / _` |/ _` || '_|/ -_)(_-<
 |___|/__/ \__|\__,_||_||_|\__,_|\__,_||_|  \___|/__/
*/
/*
           _
  __  ___ | | ___  _ _  ___  ___
 / _|/ _ \| |/ _ \| '_|/ -_)(_-<
 \__|\___/|_|\___/|_|  \___|/__/
*/
#info-menu a:hover,
#s-form a:hover,
#section-somos p:nth-of-type(2),
#sidenav-menu a,
.titulo {
    color: #e84148
}

#bg-header,
#btn-enviar,
#btn-mas span,
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
#modal #btn-close span,
#modal #fp-nav ul li a span,
#modal .fp-slidesNav ul li a span,
#section-somos #s-linea,
.detalles,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.navbar-toggler.open span {
    background: #e84148
}

.form-control:focus,
.is-invalid {
    border-color: #e84148
}

#btn-mas,
#fp-nav ul li a span,
.fp-slidesNav ul li a span,
.t-linea {
    background: #fff
}

#section-somos,
.t-descripcion {
    color: #fff
}

#s-form a,
.t-titulo {
    color: #000
}

.trabajo.inactivo {
    cursor: default
}

.trabajo {
    background: #cecece;
}

.trabajo:nth-child(even) {
    background: #b2b2b2
}

#info-menu a,
#info-menu p,
#sidenav-menu li a:hover {
    color: #747474
}

#sidenav-menu,
.navbar-toggler span {
    background-color: #000
}

/*
  _              _        
 | |_  ___ __ __| |_  ___ 
 |  _|/ -_)\ \ /|  _|/ _ \
  \__|\___|/_\_\ \__|\___/
*/
.titulo {
    font-family: oserif_r;
    font-size: 6rem
}

#sidenav-menu a {
    font-family: osans_b;
    font-size: 1.1rem
}

#info-menu a,
#info-menu p {
    font-family: osans_l;
    font-size: .85rem
}

.t-titulo {
    font-family: oserif_r;
    font-size: 2.5rem;
    margin-top: auto;
    margin-bottom: 0
}

.t-descripcion {
    font-family: osans_ri;
    font-size: 1.1rem;
    margin: 0
}

#section-somos h2 {
    font-family: oserif_li;
    font-size: 2.2rem
}

#section-servicios p {
    margin: 0 30%
}

#section-servicios p,
#section-somos p,
#section-contacto,
.alert p:nth-of-type(2) {
    font-family: osans_r
}

#section-servicios p,
#section-somos p,
.alert p:nth-of-type(2) {
    font-size: 1.1rem
}

.alert p {
    font-family: osans_b;
    font-size: 1.2rem
}

/*
      _
  __ | | __ _  ___ ___  ___
 / _|| |/ _` |(_-</ -_)(_-<
 \__||_|\__,_|/__/\___|/__/
*/
.w-40 {
    width: 40%
}

.w-60 {
    width: 60%
}

.z-index-1 {
    z-index: -1 !important
}

.z-index-0 {
    z-index: 0 !important
}

div[class^="fp-controlArrow fp-"] {
    border-color: transparent !important;
    position: absolute;
    height: 100%;
    top: 0;
    margin-top: 0;
    right: 0 !important;
    left: 0 !important
}

.fp-controlArrow.fp-next {
    margin-left: auto
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    opacity: .5;
    height: 15px !important;
    width: 15px !important;
    margin: 0 !important
}

#modal #btn-close span,
.navbar-toggler span {
    width: 25px;
    height: 2px;
    display: block;
    position: absolute;
    opacity: 1
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.slide.active {
    opacity: 1
}

.navbar-brand.hidden,
.slide {
    opacity: 0
}

#section-servicios .slide .titulo,
#section-somos .slide h2,
.slide,
.slide.active {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#section-servicios .slide.active .titulo,
#section-somos .slide.active h2 {
    margin-bottom: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

#section-servicios .slide,
#section-somos .slide {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

#section-servicios.active .slide,
#section-somos.active .slide {
    transform: scale(1);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

/*
  _  _             ___
 | \| | __ _ __ __| _ ) __ _  _ _ 
 | .` |/ _` |\ V /| _ \/ _` || '_|
 |_|\_|\__,_| \_/ |___/\__,_||_|  
*/
.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10201;
    padding: 3% 3% 0
}

.navbar-brand {
    width: 97px;
    height: 38px;
    background-image: url(img/ogilvy-chile.png);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s
}

#logo-header1 {
    background-position: 0 0
}

#logo-header2 {
    background-position: 0 38px;
    margin: 2%
}

.navbar-toggler {
    width: 40px;
    height: 40px
}

.navbar-toggler span {
    margin-top: 3%;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.navbar-toggler.open {
    background: transparent;
}

.navbar-toggler span:nth-child(1) {
    top: 10px
}

.navbar-toggler span:nth-child(2),
.navbar-toggler span:nth-child(3) {
    top: 18px
}

.navbar-toggler span:nth-child(4) {
    top: 26px
}

.navbar-toggler.open span:nth-child(1),
.navbar-toggler.open span:nth-child(4) {
    top: 20px;
    width: 0%;
    left: 100%;
    opacity: 0
}

.navbar-toggler.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.navbar-toggler.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

/*
  ___  _     _       _  _
 / __|(_) __| | ___ | \| | __ _ __ __
 \__ \| |/ _` |/ -_)| .` |/ _` |\ V /
 |___/|_|\__,_|\___||_|\_|\__,_| \_/ 
*/
#bg-header {
    height: 55px;
    width: 100%
}

#sidenav-menu {
    position: fixed;
    overflow-x: hidden;
    top: 0;
    right: -100%;
    z-index: 1000;
    height: 100%;
    width: 220px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#sidenav-menu.show {
    right: 0
}

#sidenav-menu ul {
    padding: 70% 3rem 0
}

#sidenav-menu li {
    border-radius: 0;
    border: 0;
    padding: .7rem 1rem
}

#info-menu p {
    border-top: 1px solid #747474
}

#redes a {
    background-image: url(img/redes-sociales.png);
    width: 34px;
    display: inherit
}

#facebook {
    background-position: 0 0
}

#facebook:hover {
    background-position: 0 34px
}

#instagram {
    background-position: 68px 68px
}

#instagram:hover {
    background-position: 68px 34px
}

#vimeo {
    background-position: 34px 0
}

#vimeo:hover {
    background-position: 34px 34px
}

#redes a:hover {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s
}

/*
  _        _      _      
 (_) _ _  (_) __ (_) ___ 
 | || ' \ | |/ _|| |/ _ \
 |_||_||_||_|\__||_|\___/
*/
#content-inicio {
    max-width: 1280px !important;
    max-height: 800px !important
}

#logo-svg {
    z-index: 9;
    width: 60%;
    background: transparent;
    padding: 1pt;
}

@keyframes bordeLogo {
    0% {
        stroke-width: 1;
        stroke: #fff;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        fill: none;
    }

    25% {
        stroke-width: 1;
        stroke: #fff;
        fill: none;
    }

    50% {
        stroke-width: 1;
        stroke: #fff;
        stroke-dashoffset: 0;
    }

    75% {
        stroke-width: 0;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        fill: #fff;
    }
}

#logo-svg path {
    animation: bordeLogo 3s;
    fill: #fff;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

#logo-svg:hover path {
    fill: #000 !important;
}

#logo-svg:hover~img {
    opacity: 0;
}

#section-inicio #logo-svg path {
    fill: #000;
}

#section-inicio.active #logo-svg path {
    fill: #fff;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
}

#content-inicio #img1 {
    z-index: 5;
    left: 12%;
    top: 30%
}

#content-inicio #img2 {
    z-index: 4;
    right: -14%
}

#content-inicio #img3 {
    z-index: 3;
    left: -11%
}

#content-inicio #img4 {
    z-index: 8;
    right: 18%;
    bottom: 8%
}

#content-inicio #img5 {
    z-index: 7;
    right: 11%;
    top: 20%
}

#content-inicio #img6 {
    z-index: 6;
    left: 27%
}

#content-inicio #img7 {
    z-index: 2;
    right: 7%;
    top: 5%
}

#content-inicio #img8 {
    z-index: 1;
    left: 15%;
    bottom: 18%
}

@keyframes zoomGris {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-filter: grayscale(0);
        filter: grayscale(0)
    }
}

@keyframes zoom1{
    to {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes zoom2{
    to {
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8);
        filter: blur(5px)
    }
}

.animation-1 {
    animation: zoomGris 3.5s forwards, zoom1 6s infinite 4s alternate;
}

.animation-2 {
    animation: zoomGris 3.5s forwards, zoom2 6s infinite 4s alternate;
}

/* .grupo1:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.grupo2:hover {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    filter: blur(5px)
} */

/*
  _               _            _
 | |_  _ _  __ _ | |__  __ _  (_) ___  ___
 |  _|| '_|/ _` || '_ \/ _` | | |/ _ \(_-<
  \__||_|  \__,_||_.__/\__,_|_/ |\___//__/
                            |__/
*/
#container-trabajos:hover .trabajo {
    opacity: .5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.trabajo {
    min-width: 20%;
    width: auto;
    height: auto;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    -o-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px
}

#section-trabajos.active .trabajo {
    animation: zoomGris 1s;
}

.trabajo img {
    display: block;
    height: 100%;
    width: 100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.trabajo .detalles {
    height: 100%;
    width: 100%;
    padding-top: 40%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.t-linea {
    width: 20px;
    height: 1px;
    display: block;
    margin: auto;
    padding: 0;
}

.trabajo:hover,
.trabajo.inactivo {
    opacity: 1 !important;
    -webkit-filter: grayscale(0) !important;
    filter: grayscale(0) !important
}

.trabajo:hover img {
    z-index: 0;
    opacity: 0;
    transform: rotateY(-180deg);
}

.trabajo:hover .detalles {
    z-index: 1;
    opacity: 1;
    transform: rotateY(0);
}

#btn-mas {
    border-radius: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    height: 50px;
    width: 50px;
    -webkit-box-shadow: 0 0 10px 0 #fff;
    -moz-box-shadow: 0 0 10px 0 #fff;
    box-shadow: 0 0 10px 0 #fff;
    bottom: 1%;
    right: -110%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

#section-trabajos.active #btn-mas {
    right: 0
}

#btn-mas span {
    width: 30px;
    height: 3px;
    display: block;
    position: absolute;
    margin: auto;
    top: 22px;
    left: 10px
}

#btn-mas span:nth-child(2) {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

#btn-mas.open span:nth-child(2) {
    display: none
}

#modal {
    overflow: hidden;
    position: fixed;
    z-index: 2000;
    opacity: 1;
    background: rgba(255, 255, 255, .95);
    display: none
}

#modal #btn-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 1001
}

#modal #btn-close span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#modal #btn-close span:nth-child(2) {
    top: 12px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#modal .section {
    padding: 10%
}

#modal div[class^='trabajo'] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

#modal .slide .fp-tableCell {
    height: 100% !important
}

#modal iframe {
    width: 100%;
    height: 100%;
}

/*
                     _      _
  ___ ___  _ _ __ __(_) __ (_) ___  ___
 (_-</ -_)| '_|\ V /| |/ _|| |/ _ \(_-<
 /__/\___||_|   \_/ |_|\__||_|\___//__/
*/
#section-servicios div[class^="fp-controlArrow fp-"] {
    width: 30%
}

#section-servicios .slide .titulo {
    margin-bottom: 5%
}

#section-servicios .fp-slidesNav.fp-bottom {
    bottom: 0;
    opacity: 0;
}

#section-servicios.active .fp-slidesNav.fp-bottom {
    bottom: 30%;
    opacity: 1;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s
}

/*
  ___ ___  _ __   ___  ___
 (_-</ _ \| '  \ / _ \(_-<
 /__/\___/|_|_|_|\___//__/
*/
#section-somos .slide h2 {
    margin-bottom: 20%
}

#section-somos .titulo {
    opacity: 0;
    margin-right: 100%;
    -webkit-transition: 2.25s;
    -moz-transition: 2.25s;
    -o-transition: 2.25;
    transition: 2.25s
}

#section-somos #s-linea {
    position: absolute;
    width: 2px;
    margin-left: 1.5%;
    height: 0;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;
    transition: 3s
}

#section-somos.active .titulo {
    margin-right: inherit;
    opacity: 1;
}

#section-somos.active #s-linea {
    height: 15%;
}

#section-somos .w-60 {
    padding-left: 1.5%
}

#section-somos .fp-slidesNav,
.pl-somos {
    padding-left: 4.5%;
    padding-right: 40%
}

#section-somos .fp-slidesNav {
    position: relative;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s
}

#section-somos.active .fp-slidesNav {
    bottom: 25%;
    opacity: 1;
}

#section-somos .fp-slidesNav ul {
    margin-left: -15px
}

#section-somos .fp-controlArrow.fp-prev {
    width: 4.5%
}

#section-somos .fp-controlArrow.fp-next {
    width: 40%;
    margin-left: auto
}

/*
                _              _
  __  ___  _ _ | |_  __ _  __ | |_  ___
 / _|/ _ \| ' \|  _|/ _` |/ _||  _|/ _ \
 \__|\___/|_||_|\__|\__,_|\__| \__|\___/
*/
#s-form {
    width: 55%;
    height: 100%;
    padding-left: 12%;
    padding-right: 4%
}

.form-control {
    border-radius: 0;
    border: 1px solid #9b9c56;
    background: 0 0 !important;
    color: #e84148 !important;
    width: 0;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s
}

.form-control::placeholder {
    color: #9b9c56
}

.form-control:-ms-input-placeholder {
    color: #9b9c56
}

.form-control::-ms-input-placeholder {
    color: #9b9c56
}

#btn-enviar:focus,
.form-control:focus {
    box-shadow: none
}

#btn-enviar {
    color: #d6d878 !important;
    border-radius: 0;
    width: 0;
    -webkit-transition: width 2.5s;
    -moz-transition: width 2.5s;
    -o-transition: width 2.5s;
    transition: width 2.5s;
}

#btn-enviar:hover {
    color: #000 !important
}

#section-contacto.active .form-control,
#section-contacto.active #btn-enviar {
    width: 100%;
}

.info-dir {
    line-height: 120%;
}

.alert {
    border: 2px solid #9b9c56;
    padding: 1.5rem;
    z-index: 1;
    display: none;
}

/* 
   ___                   _
  / _ \  _  _  ___  _ _ (_) ___  ___
 | (_) || || |/ -_)| '_|| |/ -_)(_-<
  \__\_\ \_,_|\___||_|  |_|\___|/__/
*/
@media only screen and (max-device-width:736px) {
    .navbar {
        padding: 2%
    }

    .navbar-toggler span {
        margin-top: 4.5%
    }

    .navbar-toggler.open span {
        background: #000 !important
    }

    .navbar-toggler span:nth-child(1) {
        top: 3px
    }

    .navbar-toggler span:nth-child(2),
    .navbar-toggler span:nth-child(3) {
        top: 11px
    }

    .navbar-toggler span:nth-child(4) {
        top: 19px
    }

    #sidenav-menu {
        width: 100%;
        text-align: center
    }

    #sidenav-menu ul {
        padding: 15% 20% 0
    }

    #sidenav-menu li a {
        font-size: 1.3rem
    }

    #s-form .form-control,
    .info-dir,
    p {
        font-size: 1rem !important;
        line-height: 1.2rem !important
    }

    #info-menu a,
    #info-menu p {
        font-size: 1.1rem !important;
        line-height: 1.5rem !important
    }

    .titulo {
        font-size: 3rem
    }

    #s-form,
    .w-40,
    .w-50,
    .w-60 {
        width: 100% !important
    }

    #logo-svg {
        width: 85%;
    }

    #content-inicio img {
        -webkit-transform: scale(.4);
        -moz-transform: scale(.4);
        -o-transform: scale(.4);
        transform: scale(.4);
        width: 40%;
    }

    #content-inicio #img7 {
        top: 13%;
    }

    #content-inicio #img4 {
        width: 30%;
        bottom: 15%;
    }

    .trabajo .detalles {
        padding-top: 30%;
    }

    #section-trabajos .t-titulo {
        font-size: 1.5rem !important;
        line-height: 2rem !important
    }

    #btn-mas {
        height: 40px;
        width: 40px;
    }

    #btn-mas span {
        width: 25px;
        top: 18px;
        left: 8px;
    }

    #modal .section {
        padding: 5%
    }

    #modal #btn-close {
        top: 5%;
        right: 5%
    }

    #modal iframe {
        height: auto
    }

    #section-servicios p,
    .invalid-feedback {
        margin: 0
    }

    #section-servicios .slide {
        margin-top: -5%
    }

    #s-form,
    #section-servicios .fp-tableCell {
        padding: 0 5%
    }

    #section-somos .slide {
        padding-left: 4%;
        padding-right: 4.5%
    }

    #section-somos .titulo {
        padding-top: 25%
    }

    #section-somos .fp-tableCell {
        vertical-align: top
    }

    #section-somos .fp-slidesNav,
    .pl-somos {
        padding: 0
    }

    #section-somos .fp-controlArrow.fp-next {
        width: 10%
    }

    #section-somos img {
        width: 25%
    }

    #section-somos h2 {
        font-size: 1.5rem
    }

    .fp-slidesNav {
        position: absolute !important;
        bottom: 5% !important
    }

    #s-form a {
        color: #e84148
    }
}